.deps
.libs/*
.vagrant
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
acinclude.m4
aclocal.m4
*.la
*.lo
*.loT
autom4te.cache/*
build/*
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
configure
configure.in
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
modules/*
run-tests.php
tests/*
!tests/*.phpt
!tests/_test_helpers.php.inc
php_test_results_*
tmp-php.ini
