.deps
.libs/*
.vagrant
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
acinclude.m4
aclocal.m4
amqp.la
amqp.lo
amqp_channel.lo
amqp_connection.lo
amqp_connection_resource.lo
amqp_envelope.lo
amqp_exchange.lo
amqp_queue.lo
amqp_object_store.lo
autom4te.cache/*
build/*
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
configure
configure.in
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
modules/*
run-tests.php
tests/*.diff
tests/*.exp
tests/*.log
tests/*.out
tests/*.php
tests/*.sh
tests/*.mem
php_test_results_*
tmp-php.ini
nbproject/*

